@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.App {
    height: fit-content !important;
    background-color: #282c34 !important;
}

.nav-icon{
    color: #{map-get($colors, custom)};
    font-size: 1.75em;
    &:hover{
        color: #{map-get($colors, secondary)};
    }
}




