$colors: (
    primary: #61dafb,
    secondary: #fcfcfc,
    tertiary: #c9c9c9,
    custom: #282c34,
    bg: #282c34
);

//Media Queries
$lower: 320px;
$phone: 480px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//Spacing
$margin-y: 1.25em 0;
$margin-x: 0 2em;
$padding-base: 1.25em;

//Font Sizes
