:root {
  --primary-color: #61dafb;
}

.App {
  text-align: center;
}


/* *Buttons */

.App-btn{
  background-color: var(--primary-color);
  border-radius: 5vmin;
  display: flex;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.bg-purple{
  background-color: purple;
}


/* *Cards */

.App-card{
  background-color: #fcfcfc;
  border-radius: 5vmin;
  display: flex;
  flex-flow: column wrap;
  color: #c9c9c9;
  font-size: 25px;
  padding: 10px 20px;
  margin: 4px 10px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  min-width: 200px;
  max-width: 200px;
}

.App-card img,
.App-card h2,
.App-card p{
  border-radius: 50%;
  transition: transform 0.5s;
}


.App-card:hover img,
.App-card:hover h2,
.App-card:hover p{
  transform: scale(1.1);
  color: #fcfcfc;
}

.App-card:hover img{
  transform: scale(0.9);
}

.App-card:hover{
  background-color: #6d6d6d;
}

/* * Carousel */
.App-carousel{
  display: flex;
  flex-flow: row nowrap;
  max-width: calc(4 * (200px) - 10px);
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: --primary-color;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
